{% extends 'base.html.twig' %}

{% block title %}Hello BookController!
{% endblock %}

{% block body %}
	<section class="max-w-screen-xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
		<div class="flex justify-center">
			<h1 class="text-4xl">Accueil</h1>
		</div>
	</section>
{% endblock %}
