{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
	<section class="max-w-screen-xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
		<div class="flex justify-center">
			<div class="space-y-10">
				<h1 class="text-4xl text-center">Ajouter un livre</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter</button>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}