<nav class="max-w-screen-xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
	<div class="flex">
		<div class="flex">
			<a href="/">
				<h1 class="text-3xl">Library</h1>
			</a>
		</div>
		<div class="flex-1"></div>
		<div class="flex space-x-4">
			<a href="/book">Book</a>
			<a href="/author">Author</a>
			<a href="/publisher">Publisher</a>
		</div>
	</div>
</nav>
